body {
  background: #a1b1c1;
  position: relative;
}

.password {
  position: relative;
  top: 50%;
  left: 50%;
  transform: rotate(2deg) translate(-50%, -50%);
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 350px;
  gap: 32px;

  color: black;
  background: #fdfdfd;
  box-shadow: 4px 4px 6px 6px rgba(0, 0, 0, 0.3);

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;

    width: 32px;
    height: 32px;

    content: "";
    background: gray;
    border-radius: 100%;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
  }

  h2 {
    font-size: 32px;
    font-family: "AlpenFont";
  }

  h2:hover {
    animation: text-blur 1s ease;
    cursor: default;
  }

  img {
    height: 100px;
    width: 100px;
  }

  #auth-img {
    transition: transform 1s ease, opacity 0.5s ease;
  }

  #auth-img.unlocked {
    transform: rotate(360deg) scale(1);
  }

  #auth-img.shake {
    animation: shake 0.5s ease;
  }

  textarea {
    z-index: 20;
    height: 32px;
    padding-top: 8px;
    font-family: "AlpenFont";
    text-align: center;
    resize: none;
    border: 1px solid black;
    border-radius: 5px;
  }

  textarea:focus,
  input:focus {
    outline: none;
    box-shadow: none;
  }
}

.links {
  position: absolute;
  top: 60%;
  left: 59%;
  transform: rotate(-2deg);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 150px;
  gap: 20px;

  background: #c1b2b2;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    width: 32px;
    height: 32px;

    content: "";
    background: #c38f8f;
    border-radius: 100%;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
  }

  a {
    transition: letter-spacing 0.3s;
  }

  a:hover {
    letter-spacing: 0.1em;
  }
}

.thanks {
  position: absolute;
  top: 35%;
  right: 58%;
  transform: rotate(-3deg);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 150px;
  gap: 8px;

  color: white;
  background: #527990;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;

    width: 32px;
    height: 32px;

    content: "";
    background: #7facc6;
    border-radius: 100%;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
  }
}

.sample {
  position: absolute;
  top: 20%;
  left: 57%;
  transform: rotate(-3deg);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  height: 250px;

  background: white;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);

  .sample-img {
    width: 160px;
    height: 160px;
    background: linear-gradient(
      to bottom right,
      #ffdd99,
      #ffeecc,
      #cceeff,
      #99ddff
    );
    margin: 20px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;

    width: 32px;
    height: 32px;

    background: #7facc6;
    content: "";
    border-radius: 100%;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  }
}

.music {
  position: absolute;
  top: 60%;
  right: 56%;
  transform: rotate(-5deg);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  height: 250px;

  background: white;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;

    width: 32px;
    height: 32px;

    background: #7facc6;
    content: "";
    border-radius: 100%;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes text-blur {
  0% {
    filter: blur(0);
  }
  50% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0);
  }
}
