.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  .main {
    display: inline-flex;
    height: 100%;
    width: 100%;
    padding: 100px;
    .day {
      background-image: url("../img/bg.jpg");
      background-position: center;
      background-size: cover;
      width: 100vw;
      height: 100%;
      position: relative;
      h2 {
        font-size: 48px;
        color: white;
      }
    }
  }
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;

  .frame {
    width: 216px;
    height: 258px;
    background: #f3f3f3;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.5);
  }

  .img-container {
    position: relative;
    width: 186px;
    height: 186px;
    margin: 15px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      pointer-events: none;
    }
  }

  .photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
