.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  .main {
    display: inline-flex;
    height: 100%;
    width: 100%;
    padding: 100px;
    .day {
      background: linear-gradient(to bottom, #ffecd2, #fcb69f);
      width: 100vw;
      height: 100%;
      h2 {
        font-size: 48px;
        color: white;
      }
    }
  }
}
