.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  .main {
    display: inline-flex;
    height: calc(100vh - 150px);
    width: 100%;
    .day {
      background: #dfb8b8;
      width: 100vw;
      height: 100%;
      h2 {
        font-size: 48px;
      }
    }
  }
}
