body {
  position: relative;
  .password-line {
    width: 250px;
    height: 350px;
    position: absolute;
    border: #ffffff 5px solid;
  }
  .password-container {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: linear-gradient(to bottom, #ffecd2, #fcb69f);
    color: white;
    h2 {
      font-size: 32px;
      font-family: "Pacifico";
    }
    img {
      height: 32px;
      width: 32px;
    }
    textarea {
      height: 32px;
      padding-top: 4px;
      z-index: 10;
      font-family: "Pacifico";
      text-align: center;
      resize: none;
      border: none;
    }
    textarea:focus,
    input:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
